/* Importar la fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
    --White: #ffffff;
    --Black: #000;
    --color2: #6d2b1b;
    --color1: #ebc9a0;
    --color3: #D3C891;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--color1) !important;
}

/*-----------------------------------------------------------------------------------------------------------------------*/
.whatsapp {
    position: fixed;
    bottom: 90px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #25D366;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    transition: background-color 0.3s;
}

.whatsapp:hover {
    background-color: var(--Black);
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #9C0808;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    font-size: 24px;
    z-index: 1000;
    transition: background-color 0.3s;
}


.back-to-top:hover {
    background-color: #9C0808;
}

.back-to-top i {
    vertical-align: middle;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

.navbar {
    background-color: transparent;
    font-size: 25px;
}

.navbar .opc {
    color: var(--color1) !important;
    font-weight: bold;
}

.navbar .opc:hover {
    color: var(--color2) !important;
    font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

.cover-container {
    background: linear-gradient(rgba(145, 140, 140, 0.5), rgba(126, 120, 120, 0.5)),
        url("../assets/img/imagen4.jpg") no-repeat center center;
    background-size: cover;
    color: rgb(255, 255, 255);
    min-height: 90vh;
}

.cover-container .inicio {
    min-height: 60vh;
    align-content: center;
}

.cover-container .inicio h1 {
    margin-bottom: 1.5rem;
}

.cover-container .inicio p {
    margin-bottom: 1.5rem;
}

.cover-container .inicio a {
    margin-top: 1rem;
    background-color: var(--color2);
    color: var(--White);
    border: 2px solid var(--White);
}

.cover-container .inicio a:hover {
    margin-top: 1rem;
    background-color: var(--color1);
    color: var(--Black);
    border: 2px solid var(--Black);
}

/*-----------------------------------------------------------------------------------------------------------------------*/

.home .linea-vertical .flecha {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    font-size: 4em;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

.home .parte2 {
    background-color: var(--color2);
}

.home .parte2 .bloque1 {
    padding-top: 20px;
    color: var(--White);
}

.home .parte2 .bloque1 .row h2 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    color: var(--PrimaryColor);
    font-weight: 700;
}

.home .parte2 .bloque1 .ver {
    margin-bottom: 50px;
    background-color: var(--color1);
    color: var(--Black);
    border: 2px solid var(--Black);
    font-size: 1.1em;
    padding: 10px 20px;
    border-radius: 5px;
}

.home .parte2 .bloque1 .ver:hover {
    background-color: var(--color2);
    color: var(--White);
    border: 2px solid var(--White);
}

.home .parte2 .col-md-7 img {
    height: 50px;
    background-color: #FFFFFF;
    margin-bottom: 1rem;
}

.home .parte2 .col-md-5 video {
    width: 100%;
    max-height: 500px;
    border-radius: 0.5rem;
    border: 3px solid var(--color1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.home .parte2 .bloque1 .lead {
    font-size: 1.6em !important;
    line-height: 1.6;
    color: #f0f0f0;
    margin-bottom: 1.5rem;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

.home .parte3 .bloque2 {
    padding-top: 20px;
    color: var(--Black);
}

.home .parte3 .bloque2 .row h2 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    color: var(--PrimaryColor);
    font-weight: 700;
}

.home .parte3 .bloque2 .ver {
    margin-bottom: 50px;
    background-color: var(--color2);
    color: var(--White);
    border: 2px solid var(--White);
    font-size: 1.1em;
    padding: 10px 20px;
    border-radius: 5px;
}

.home .parte3 .bloque2 .ver:hover {
    background-color: var(--color1);
    color: var(--Black);
    border: 2px solid var(--Black);
}

.home .parte3 .carousel-item img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid var(--color2);
}

.home .parte3 .carousel-control-prev-icon,
.home .parte3 .carousel-control-next-icon {
    background-color: var(--color2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

.home .parte4 {
    background-color: var(--color2);
}

.home .parte4 .bloque3 {
    padding-top: 20px;
    color: var(--White);
}

.home .parte4 .bloque3 .row h2 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    color: var(--PrimaryColor);
    font-weight: 700;
}

.home .parte4 .bloque3 .ver {
    margin-bottom: 50px;
    background-color: var(--color1);
    color: var(--Black);
    border: 2px solid var(--Black);
    font-size: 1.1em;
    padding: 10px 20px;
    border-radius: 5px;
}

.home .parte4 .bloque3 .ver:hover {
    background-color: var(--color2);
    color: var(--White);
    border: 2px solid var(--White);
}

.home .parte4 .bloque3 img {
    border-radius: 0.5rem;
    object-fit: cover;
    border: 3px solid var(--color1);
}

.home .parte4 .carousel-item img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid var(--color1);
}

.home .parte4 .carousel-control-prev-icon,
.home .parte4 .carousel-control-next-icon {
    background-color: var(--color2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/*-----------------------------------------------------------------------------------------------------------------------*/


.products .product1 {
    background-color: var(--color2);
    width: 100%;
    padding: 30px;
}


.products .product1 .texto1 {
    font-size: 68px;
    font-weight: bold;
    color: var(--White);
    margin-bottom: 20px;
}

.products .product1 .texto2 {
    font-size: 20px;
    color: var(--White);
    margin-bottom: 20px;
}

.products .product1 .propa {
    gap: 5px;
}

.products .product1 .vinos {
    border-radius: 10px;
    border: 3px #262626 solid;
    flex-direction: column;
    display: inline-flex;
    min-width: 320px;
    max-width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.products .product1 .vinos:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(236, 236, 236, 0.3);
}

.products .product1 .vinos .d1 {
    align-self: stretch;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.products .product1 .vinos .d1 .product-card {
    background-color: var(--color1);
    justify-content: center;
    align-items: center;
    gap: 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.products .product1 .vinos .d1 .product-card img {
    color: #000000;
    width: 100%;
    max-height: 300px;
    border: 2px solid var(--color2);
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--color2);
}

.products .product1 h2 {
    font-size: 38px;
    font-weight: bold;
    color: var(--White);
    margin-bottom: 20px;
}

.products .product1 .vinos .d1 .product-card {
    position: relative;
}

.products .product1 .vinos .d1 .product-card .popular {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    pointer-events: none;
}


.products .product1 .vinos .d1 .product-card h4 {
    font-size: 25px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
}

.products .product1 .vinos .d1 .product-card p {
    font-size: 16px;
    font-weight: bold;
    text-align: end;
    margin: 10px 0;
    padding: 5px;
    color: var(--PrimaryColor);
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--PrimaryColor);
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-style: italic;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.products .product1 .vinos .d1 .product-card .btn {
    color: var(--White);
    background-color: var(--color2);
    border: 2px solid var(--color2);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.products .product1 .vinos .d1 .product-card .btn:hover {
    background-color: var(--White);
    color: var(--color2);
}

/*-----------------------------------------------------------------------------------------------------------------------*/





.products .product2 {
    background-color: var(--color1);
    width: 100%;
    padding: 30px;
}

.products .product2 h2 {
    font-size: 38px;
    font-weight: bold;
    color: var(--Black);
    margin-bottom: 20px;
}

.products .product2 .texto2 {
    color: var(--Black);
}

.products .product2 .propa {
    gap: 5px;
}

.products .product2 .chocolate {
    border-radius: 10px;
    border: 3px var(--White) solid;
    flex-direction: column;
    display: inline-flex;
    min-width: 320px;
    max-width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.products .product2 .chocolate:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.products .product2 .chocolate .d1 {
    align-self: stretch;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.products .product2 .chocolate .d1 .product-card {
    background-color: var(--color2);
    justify-content: center;
    align-items: center;
    gap: 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.products .product2 .chocolate .d1 .product-card img {
    color: var(--Black);
    width: 100%;
    height: 300px;
    border: 2px solid var(--color1);
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--color1);
}

.products .product2 .chocolate .d1 .product-card {
    position: relative;
}

.products .product2 .chocolate .d1 .product-card .popular {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    pointer-events: none;
}


.products .product2 .chocolate .d1 .product-card h4 {
    color: var(--White);
    font-size: 25px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
}

.products .product2 .chocolate .d1 .product-card p {
    font-size: 16px;
    font-weight: bold;
    text-align: end;
    margin: 10px 0;
    padding: 5px;
    color: var(--White);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--PrimaryColor);
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-style: italic;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.products .product2 .chocolate .d1 .product-card .btn {
    color: var(--Black);
    background-color: var(--color1);
    border: 2px solid var(--color1);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.products .product2 .chocolate .d1 .product-card .btn:hover {
    background-color: var(--Black);
    color: var(--color1);
}

/*-----------------------------------------------------------------------------------------------------------------------*/
.nosotros .parte0 {
    background-color: var(--color2);
    width: 100%;
    padding: 3rem;
    color: var(--White);
}

.nosotros .parte0 h1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--White);
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.nosotros .parte0 .nuestra-historia {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nosotros .parte0 .nuestra-historia h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--White);
    margin-top: 70px;
    margin-bottom: -1.2rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.nosotros .parte0 .nuestra-historia .hr1 {
    padding-bottom: 20px;
}

.nosotros .parte0 .historia-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--White);
}

.nosotros .parte0 .historia-text p {
    margin-bottom: 1rem;
}

.nosotros .parte0 .historia-imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 5px solid var(--color1);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nosotros .parte0 .historia-imagen img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
}

.nosotros .parte1 {
    width: 100%;
    padding: 2rem;
}

.nosotros .parte1 .feature p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-top: 10px;
}

.nosotros .parte1 h2 {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--Black);
    margin-top: 20px;
}

.nosotros .parte1 .feature img {
    margin-top: 5px;
    border-radius: 0.5rem;
    object-fit: cover;
    border: 3px solid var(--color2);
}

.nosotros .parte1 .carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.nosotros .parte1 .carousel-control-prev-icon,
.nosotros .parte1 .carousel-control-next-icon {
    background-color: var(--color2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nosotros .parte1 .feature {
    text-align: center;
    margin-bottom: 2rem;
}

.nosotros .parte1 .feature .feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--color2);
    border-radius: 50%;
    color: #D3C891;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
}

.nosotros .parte1 .feature h2 {
    font-size: 2em;
    color: var(--PrimaryColor);
    margin-top: 15px;
    margin-bottom: 10px;
}

.nosotros .linea-vertical .flecha2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    font-size: 4em;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;

}

/*-----------------------------------------------------------------------------------------------------------------------*/

.contact {
    background-color: var(--color2);
    width: 100%;
    padding: 0.9rem;
}

.contact .texto1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--White);
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.contact .contact__wrapper {
    border-radius: 15px;
}

.contact .contact__wrapper .contact-info__wrapper {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--color2);
    color: var(--White);
    box-shadow: 0 4px 8px var(--White);
    border-top: 3px solid var(--White);
    border-bottom: 3px solid var(--White);
    border-right: 3px solid var(--White);
}

.contact .contact__wrapper .contact-info__wrapper h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

.contact .contact__wrapper .contact-info__list li {
    position: relative;
    padding-left: 2.5rem;
    font-size: 1.4rem;
    line-height: 1.6;
}

.contact .contact__wrapper .contact-info__list .contact-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color3);
    font-size: 1.5rem;
}

.contact .contact__wrapper .contact-info__list .text-link {
    font-size: 6rem;
    font-weight: bold;
}

.contact .contact__wrapper .contact-info__list .whatsapp-link {
    color: var(--White);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact .contact__wrapper .contact-info__list .whatsapp-link:hover {
    color: #128C7E;
}

.contact .contact__wrapper .map-wrapper {
    margin-top: 2rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact .contact__wrapper .map-wrapper iframe {
    width: 100%;
    height: 250px;
    border: 3px solid var(--color3);
    border-radius: 10px;
}

.contact .contact-form__wrapper h3 {
    color: var(--Black);
    font-size: 2.5rem;
    font-weight: bold;
}

.contact .contact-form__wrapper {
    background-color: var(--color1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 4px 8px var(--White);
    border-top: 3px solid var(--White);
    border-bottom: 3px solid var(--White);
    border-left: 3px solid var(--White);
}

.contact .contact-form__wrapper .contact-form {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid var(--color2);
    padding: 0.75rem 1.25rem;
}


.contact .contact-form__wrapper .contact-form .form-group {
    margin-bottom: 1.5rem;
}


.contact .contact-form__wrapper .contact-form label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--Black);
}

.contact .contact-form__wrapper .contact-form .form-control:focus {
    border-color: var(--color3);
    box-shadow: 0 0 0 0.2rem rgba(var(--color3-rgb), 0.25);
}

.contact .contact-form__wrapper .contact-form .btn-primary {
    background-color: var(--color2);
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact .contact-form__wrapper .contact-form .btn-primary:hover {
    background-color: var(--color3);
    box-shadow: 0 4px 8px rgba(var(--color3-rgb), 0.5);
}

.contact .contact__wrapper .contact-info__list .contact-icon a {
    color: var(--White);
    font-size: 40px;
}





/*-----------------------------------------------------------------------------------------------------------------------*/





















@media screen and (max-width: 800px) {}

@media screen and (max-width: 1000px) {
    .textox {
        font-size: 22px !important;
    }
}

@media screen and (max-width: 1200px) {
    .textox {
        font-size: 23.5px !important;
    }
}

@media (max-width: 768px) {
    .home .parte1 .row {
        flex-direction: column;
    }

    .home .parte1 .feature {
        margin-bottom: 1rem;
    }

    .home .parte1 .carousel-item img {
        height: 300px;
    }

    .home .parte2 .bloque1 h2 {
        font-size: 2em;
    }

    .home .parte2 .bloque1 .lead {
        font-size: 1em;
    }

    .home .parte2 .col-md-5 video {
        max-height: 500px;
    }

    .home .parte2 .bloque1 .lead {
        font-size: 1.3em !important;
    }
}

@media (max-width: 970px) {
    .home .parte2 .bloque1 .lead {
        font-size: 1.2em !important;
    }

    .home .parte3 .bloque2 .lead {
        font-size: 1.2em !important;
    }

    .home .parte4 .bloque3 .lead {
        font-size: 1.2em !important;
    }

    .nosotros .parte0 .historia-text {
        font-size: 0.9em;

    }
}

@media (max-width: 991px) {
    .contact .contact__wrapper .contact-info__wrapper {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 0.1px;
        background-color: var(--color2);
        color: var(--White);
        box-shadow: 0 4px 8px var(--White);
        border-top: 3px solid var(--White);
        border-left: 3px solid var(--White);
        border-right: 3px solid var(--White);
        border-bottom: none !important;
    }

    .contact .contact-form__wrapper {
        background-color: var(--color1);
        border-top-left-radius: 0.1px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0 4px 8px var(--White);
        border-top: none !important;
        border-bottom: 3px solid var(--White);
        border-left: 3px solid var(--White);
        border-right: 3px solid var(--White);
    }

}